@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --primary-color: #885f35;
    --background-color: rgb(234, 228, 218);
    --dark-color: #ffffff;
}

html{
    font-size: 62.5%;
   font-family: "Open Sans", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
}

/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
.container {
    max-width: 120rem;
    margin: 0 auto;
}

.heading-1 {
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

/* ********************************** */
/*               HEADER               */
/* ********************************** */
.container-hero {
background-color: var(--background-color);
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;              
}

.customer-support{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.customer-support i{
    font-size: 3.3rem;
}

.content-customer-support, .content-shopping-cart{
    display: flex;
    flex-direction: column;
}

.container-logo{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.container-logo i{
    font-size: 3rem;
}

.container-logo h1 a{
    text-decoration: none;
    color: #000;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.container-user{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.container-user .ri-user-line{
    font-size: 3rem;
    color: var(--primary-color);
    padding-right: 2.5rem;
    border-right: 1px solid #e2e2e2;
}

.container-user .ri-shopping-cart-fill{
    font-size: 3rem;
    color: var(--primary-color);
    padding-left: 1rem;
}

.container-shopping-cart{
    display: flex;
    flex-direction: column;
}

/* ************* NAVBAR ************* */
.container-navbar{
    background-color: var(--primary-color);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.navbar .ri-menu-line{
    display: none;
}

.menu{
    display: flex;
    gap: 2rem;
}

.menu li{
    list-style: none;
}

.menu a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--dark-color);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.menu a::after{
    content: '';
    width: 1.5rem;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all .3s ease;
}

.menu a:hover::after{
opacity: 1;
}

.menu a:hover{
    color: #fff;
}

.search-form{
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 2rem;
    background-color: #fff;
    height: 4.4rem;
    overflow: hidden;
}

.search-form input{
    outline: none;
    font-family: inherit;
    border: none;
    width: 25rem;
    font-size: 1.4rem;
    padding: 0 2rem;
    color: #777;
    cursor: pointer;
}

.search-form input::-webkit-search-cancel-button{
    appearance: none;
}

.search-form .btn-search{
    border: none;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
}

.btn-search i{
    font-size: 2rem;
    color: #fff;
}

/* ********************************** */
/*               BANNER               */
/* ********************************** */

.banner{
    background-image: linear-gradient(100deg, #000000, #00000020), url("../imagenes/portada\ 1.png");
    height: 60rem;
    background-size: cover;
    background-position: center;
}

.content-banner{
    max-width: 90rem;
    margin: 0 auto;
    padding: 25rem 0;
}

.content-banner p{
    color: var(--primary-color);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.content-banner h2{
    color: #fff;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.content-banner a{
    margin-top: 2rem;
    text-decoration: none;
    color: #fff;
    background-color: var(--primary-color);
    display: inline-block;
    padding: 1rem 3rem;
    text-transform: uppercase;
    border-radius: 3rem;
}

/* ********************************** */
/*            MAIN CONTENT            */
/* ********************************** */
.main-content{
    background-color: var(--background-color);
}

/* ********************************** */
/*         N O S O T R O S            */
/* ********************************** */
.Nosotros{
    width: 100%;
    padding: 78px 0px;
}
.Nosotros img{
    height: auto;
    width: 420px;
}
.Nosotros-text{
    width: 550px;
}
.main-nosotros{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.Nosotros-text h1{
    color: black;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.Nosotros-text h5{
    color: black;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.Nosotros-text p{
    text-align: justify;
    line-height: 20px;
    font-size: 15px;
}

.Nosotros-text h5 span{
    color: #885f35;
}

.Nosotros-text button{
    background: #885f35;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    margin-top: 40px;
}

.Nosotros-text button:hover{
    background: #a57e56;
    border: 2px solid #885f35;
    cursor: pointer;
    color: #885f35;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
    .Nosotros{
        padding: 78px 50px;
    }
}

/* ********************************** */
/*              FEATURES              */
/* ********************************** */
.container-feactures{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 3rem 0;
}

.card-feacture{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--primary-color);
    border-radius: 1rem;
    padding: 1.5rem 0;
}
  
.card-feacture i{
    font-size: 2.7rem;
    color: var(--background-color);

}

.feacture-content{
     display: flex;
     flex-direction: column;
     gap: 0.5rem;
}

.feacture-content span{
     font-weight: 700;
     font-size: 1.2rem;
     color: white;
}

.feacture-content p{
     color: var(--dark-color);
     font-weight: 500;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
    .card-feacture{
        grid-column: 2/4;
    }
    .card-category{
        grid-column: 1/3;
    }
}

/* ********************************** */
/*             CATEGORIES             */
/* ********************************** */

.top-categories{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-categories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.card-category{
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap: 2rem;
}

.category-pinturas{
   background-image: linear-gradient(#00000080, #00000080), url("../imagenes/la\ creación\ de\ adan.jpg");
   background-size: cover;
   background-position: bottom;
   background-repeat: no-repeat;
}

.category-dibujos{
   background-image: linear-gradient(#00000080, #00000080), url("../imagenes/hombre\ de\ vitruvio.jpeg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}


.category-esculturas{
   background-image: linear-gradient(#00000080, #00000080), url("../imagenes/3.png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.card-category p{
    font-size: 2.5rem;
    color: #fff;
    text-transform: capitalize;
    position: relative;
}

.card-category p::after{
    content: '';
    width: 2.5rem;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%, 50%);
}

.card-category span{
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}

.card-category span:hover{
    color: var(--primary-color);
}

/* ********************************** */
/*            TOP PRODUCTS            */
/* ********************************** */
.top-products{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-options{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.container-options span{
    color: #777;
    background-color: #fff;
    padding: .7rem 3rem;
    font-size: 1.4rem; 
    text-transform: capitalize;
    border-radius: 2rem;
    cursor: pointer;
}

.container-options span:hover{
    background-color: var(--primary-color);
    color: #000000;
}

.container-options span.active{
background-color: var(--primary-color);
color: #fff;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
    .top-products, .specials{
        padding-left: 50px;
        padding-right: 50px;
    }
}

/* Products */
.container-products{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
gap: 3rem;
}

.card-product{
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0 , 0, 0, 0.1);
}


.container-img{
    position: relative;
}

.container-img img{
    width: 100%;
}

.container-img .discount{
    position:absolute;
    left: 0;
    background-color: var(--primary-color);
    color: #fff;
    padding: 2px 1.2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
}

.card-product:hover .discount{
    background-color: #000;
}

.button-group{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    position: absolute;
    top: 0;
    right: -3rem;
    z-index: -1;
    transition: all .4s ease;
}

.button-group span{
    border: 1px solid var(--primary-color);
    padding: .8rem;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease;
}

.button-group span:hover{
    background-color: var(--primary-color);
}
 
.button-group span i{
    font-size: 1.5rem;
    color: var(--primary-color);
}

.button-group span:hover i{
color: #000000;
} 

.card-product:hover .button-group{
    z-index: 0;
    right: -1rem;
}

.content-card-product{
display: grid;
justify-items: center;
grid-template-columns: 1fr 1fr;
grid-template-rows: repeat(4, min-content);
row-gap: 1rem;
}

.stars{
    grid-row: 1/2;
    grid-column: 1/-1;

}
 
.stars i{
    font-size: 1.3rem;
    color: #c7a17a;
}

.content-card-product h3{
    grid-row: 2/3;
    grid-column: 1/-1;

    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.content-card-product h3:hover{
    color: var(--primary-color);
}

.add-cart{
    justify-self: start;
    border-radius: 2px solid var(--primary-color);
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-cart:hover{
    background-color: var(--primary-color);
}

.add-cart i{
    font-size: 1.5rem;
    color: var(--primary-color);

}

.add-cart:hover i{
    color: #fff;
}

.content-card-product p{
    justify-self: end;
    align-self: center;
    
    font-size: 1.3rem;
    font-weight: 600;
}

.content-card-product .price span{
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: line-through;
    color: #777;
    margin-left: .5rem;
}

/* ********************************** */
/*               GALERYA              */
/* ********************************** */
.galeria{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 30rem);
    gap: 1.5rem;
    margin-bottom: 3rem;
}

.galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeria-img-3{
    grid-column: 2/4;
    grid-row: 1/3;
}

/* ********************************** */
/*              SPECIALS              */
/* ********************************** */
.specials{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
    }


/* ********************************** */
/*              CARRITO              */
/* ********************************** */
.title-carrito{
    background: url('../imagenes/portada\ para\ el\ carrito\ de\ compras.png');
    background-size: cover;
    background-position: center;
    height: 450px;
}
.title-carrito h2{
    text-align: center;
    font-size: 35px;
    color: #fff; 
    padding: 30px 0;
}
.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}
/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap:20px;
    grid-row-gap: 30px;
    /* width: 60%; */
    width: 100%;
    transition: .3s;
}
.contenedor .contenedor-items .item{
    max-width: 250px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor .contenedor-items .item .img-item{
    width: 100%;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
/* seccion carrito */
.carrito{
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    /* Estilos para ocultar */
    margin-right: -100%;
    opacity: 0;
}
.carrito .header-carrito{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
.carrito .carrito-item{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}
.carrito .carrito-item img{
    margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
    background-color: #f3f3f3;
    padding: 30px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrito-total .btn-pagar:hover{
    scale: 1.05;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
    .contenedor {
      display: block;
    }
    .contenedor-items{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
  }

/* ********************************** */
/*                BLOGS               */
/* ********************************** */

@media screen and (max-width: 850px) {
    .card-blog{
        grid-column: 1/3;
        flex-direction: column;
    }
    .blogs{
        margin-top: -200px;
        padding-left: 100px;
    }
}


.blogs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container-blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.card-blog{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-blog .container-imagen{
    border-radius: 2rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.button-group-blog{
    position: absolute;
    bottom: 1.5rem;
    right: -2.5rem;
    display: flex;
    gap: 0.7rem;
    z-index: -1;
    transition: all ,3s ease;
}

.card-blog:hover .button-group-blog{
    z-index: 0;
    right: 1.5rem;
}

.button-group-blog span{
    background-color: #fff;
    padding: 1rem;
    border-radius: 50%;
    transition: all ,4s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button-group-blog span i{
    font-size: 1.3rem;
}

.button-group-blog span:hover{
    background-color: var(--primary-color)
}

.button-group-blog span:hover i{
    color: #fff;
}

.content-blog h3{
    font-size: 1.9rem;
    margin-bottom: 1.7rem;
    color: #885f35;
    font-weight: 500;
}

.content-blog h3:hover{
   color: var(--primary-color);
   cursor: pointer;
}

.content-blog p{
   margin-top: 1rem;
   font-size: 1.6rem;
   color: #000000;
}

.content-blog span{
    color: #000;
    font-size: 1.4rem;
}

.btn-read-more{
    padding: 1rem 3rem;
    background-color: var(--primary-color);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    border-radius: 2rem;
    margin: 3rem 0 5rem;
    display: inline-block;
    cursor: pointer;
}

.btn-read-more:hover{
    background-color: #a77f57;
}

/* ********************************** */
/*               EQUIPO              */
/* ********************************** */

#equipo{
  padding: 30px 0 80px;
  text-align: center;
}

.our_team{
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.our_team .team_member{
  width: 250px;
  margin: 5px;
  background: #fff;
  padding: 20px 10px;
}

.our_team .team_member .member_img{
  background: #ffffff;  
  max-width: 190px;
  width: 100%;
  height: 190px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.our_team .team_member .member_img img{
  width: 100%;
  height: 100%;
}

.our_team .team_member h3{
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  margin: 20px 0 0px;
}

.our_team .team_member span{
  font-size: 14px;
}

.our_team .team_member p{
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
}

.our_team .team_member .member_img .social_media{
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(0,0,0,0.65);
  width: 95%;
  height: 95%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
   transition: all 0.5s ease;
}

.our_team .team_member .member_img .social_media .item{
  margin: 0 10px;
  border-radius: 40%;
  padding: 5px;
}

.our_team .team_member .member_img .social_media i{
  color: #e7d2ab;
  font-size: 20px;
}

.our_team .team_member .member_img:hover .social_media{
  transform: scale(1);
}

/* ********************************** */
/*               CONTACTO              */
/* ********************************** */
#Contacto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px 50px;
}

.mapa{
    width: 50%;
}

.mapa iframe{
    width: 100%;
}

.title_contact{
    font-size: 5.4rem;
    color: #b88944;
    margin-bottom: 20px;
}

.title_contact span{
    color: #b88944;
}

.contact-form{
    font-family: "Open Sans", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.formContact {
    background-color: #DAC0A3;
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba( 0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 440px;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.formContact h2 {
    color: #000;
    font-size: 35px;
}

.input-group label {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.input-group input, .input-group textarea {

    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #F7F7F7;
    border: 2px solid #efecec;
    color: black;
    outline: none;

}

.input-group input::placeholder, .input-group textarea::placeholder {
    color: black;
}

.form-txt {
   margin-bottom: 30px;
   display: flex;
   justify-content: space-between;
   text-align: center;
}

.form-txt a{
    color: #000;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.input-group .btn {
    font-size: 16px;
    color: black;
    border: 0;
    border-radius: 25px;
    background-color: #F7F7F7;
    box-shadow: 0 0 20px #F5F5F5;
    cursor: pointer;
}

.input-group .btn:hover {
    background-color: #f2f1f1;
}

@media(max-width:991px) {

    #Contacto {
        padding: 30px;
        justify-content: center;
        align-items: center;
    }

    .mapa{
        width: 90%;
    }

    .formContact {
        padding: 50px 30px;
        width: 100%;
    }

    .formContact input {
        padding: 15px;
    }


}

/* ********************************** */
/*         FORMULARIO DE PAGO         */
/* ********************************** */
.containerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1f242d;
    padding: 25px;
}

.containerForm form {
    width: 700px;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
}

.containerForm .row {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.row .column {
    flex: 1 1 250px;
}

.column .title {
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.column .input-box {
    margin: 15px 0;
}

.containerForm .input-box span {
    display: block;
    margin-bottom: 10px;
}

.containerForm .input-box input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

.column .flex {
    display: flex;
    gap: 15px;
}

.flex .input-box {
    margin-top: 5px;
}

.input-box img {
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
}

.containerForm form .btn {
    width: 100%;
    padding: 12px;
    background: #000000;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 17px;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
    transition: .5s;
}

.containerForm form .btn:hover {
    background: #d4af7d;
}

/* ********************************** */
/*               FOOTER               */
/* ********************************** */
.footer {
	background-color: var(--primary-color);
}

.container-footer {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 3rem;
}

.menu-footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr) 30rem;
	gap: 3rem;
	justify-items: center;
}

.title-footer {
	font-weight: 600;
	font-size: 1.6rem;
	text-transform: uppercase;
}

.contact-info,
.information,
.my-account,
.newsletter {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li {
	list-style: none;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 300;
}

.information ul li a,
.my-account ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover {
	color: var(--dark-color);
}

.social-icons {
	display: flex;
	gap: 1.5rem;
}

.social-icons span {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icons span i {
	color: #fff;
	font-size: 1.2rem;
}

.facebook {
	background-color: #3b5998;
}

.twitter {
	background-color: #00acee;
}

.youtube {
	background-color: #c4302b;
}

.pinterest {
	background-color: #c8232c;
}

.instagram {
	background: linear-gradient(
		#405de6,
		#833ab4,
		#c13584,
		#e1306c,
		#fd1d1d,
		#f56040,
		#fcaf45
	);
}

.content p {
	font-size: 1.4rem;
	color: #fff;
	font-weight: 300;
}

.content input {
	outline: none;
	background: none;
	border: none;
	border-bottom: 2px solid #d2b495;
	cursor: pointer;
	padding: 0.5rem 0 1.2rem;
	color: var(--dark-color);
	display: block;
	margin-bottom: 3rem;
	margin-top: 2rem;
	width: 100%;
	font-family: inherit;
}

.content input::-webkit-input-placeholder {
	color: #eee;
}

.content button {
	border: none;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	padding: 1rem 3rem;
	border-radius: 2rem;
	font-size: 1.4rem;
	font-family: inherit;
	cursor: pointer;
	font-weight: 600;
}

.content button:hover {
	background-color: var(--background-color);
	color: var(--primary-color);
}

.copyright {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;
	border-top: 1px solid #d2b495;
}

.copyright p {
	font-weight: 400;
	font-size: 1.6rem;
}

/* ********************************** */
/*       MEDIA QUERIES -- 768px       */
/* ********************************** */
@media (max-width: 768px) {
	html {
		font-size: 55%;
	}

	.hero {
		padding: 2rem;
	}

	.customer-support {
		display: none;
	}

	.content-shopping-cart {
		display: none;
	}

	.navbar {
		padding: 1rem 2rem;
	}

	.navbar .fa-bars {
		display: block;
		color: #fff;
		font-size: 3rem;
	}

	.menu {
		display: none;
	}

	.content-banner {
		max-width: 50rem;
		margin: 0 auto;
		padding: 25rem 0;
	}

    .main-nosotros {
       justify-content: center;
    }

	.container-features {
		grid-template-columns: repeat(2, 1fr);
		padding: 2rem 2rem;
        margin-top: 1rem;
	}

	.card-feature {
		padding: 2rem;
	}

	.heading-1 {
		font-size: 2.4rem;
	}

	.card-category {
		height: 12rem;
	}

	.card-category p {
		font-size: 2rem;
		text-align: center;
		line-height: 1;
	}

	.card-category span {
		font-size: 1.4rem;
	}
    
	.container-options {
		align-items: center;
	}

	.container-options span {
		text-align: center;
		padding: 1rem 2rem;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
	}

	.gallery {
		grid-template-rows: repeat(2, 15rem);
	}

	.menu-footer {
		grid-template-columns: repeat(2, 1fr);
	}

	.copyright {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;
	}
}

/* ********************************** */
/*       MEDIA QUERIES -- 468px       */
/* ********************************** */
@media (max-width: 468px) {
	html {
		font-size: 42.5%;
	}

	.content-banner {
		max-width: 50rem;
		padding: 22rem 0;
	}

	.heading-1 {
		font-size: 2.8rem;
	}

	.card-feature {
		flex-direction: column;
		border-radius: 2rem;
	}

	.feature-content {
		align-items: center;
	}

	.feature-content p {
		font-size: 1.4rem;
		text-align: center;
	}

	.feature-content span {
		font-size: 1.6rem;
		text-align: center;
	}

	.container-options span {
		font-size: 1.8rem;
		padding: 1rem 1.5rem;
		font-weight: 500;
	}

     .main-nosotros {
        max-width: 50rem;
        padding: 20rem 0;
    }

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		gap: 1rem;
	}

	.container-img .discount {
		font-size: 2rem;
	}

	.content-card-product h3 {
		font-size: 2.2rem;
	}

	.gallery {
		grid-template-rows: repeat(2, 20rem);
	}

	.blogs {
		padding: 2rem;
	}

	.container-blogs {
		grid-template-columns: 1fr;
	}

	.content-blog h3 {
		font-size: 2.4rem;
	}

	.content-blog span {
		font-size: 1.8rem;
	}

	.content-blog p {
		font-size: 2.2rem;
	}

	.btn-read-more{
		font-size: 1.8rem;
	}

	.contact-info ul,
	.information ul,
	.my-account ul{
		display: none;
	}

	.contact-info {
		align-items: center;
	}

	.menu-footer{
		grid-template-columns: 1fr;
	}

	.content p{
		font-size: 1.6rem;
	}
}
